.header
  .header__h1
    グループを作成しました。
.contents
  = render 'shared/side_bar'
  .right-contents
    .right-top
      .right-top__box
        %h2.box-group
          = @group.name
        %ul.member-list
          MEMBER-LIST:
          //#chat-group-users.js-add-user
          %li.member-list__member= current_user.name

          - @group.users.each do |user|
            - if current_user.name != user.name
              %li.member-list__member
                = user.name 
      = link_to edit_group_path(@group.id) do
        .right-top__edit-btn
          Edit
    .right-center
      = render @messages

    .right-form
      .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'