.header
  .header__h1
    グループを作成しました。
.contents
  .left
    .left-top
      .left-top__box
        %p.left-top__box__user-name
          USERNAME
        %ul.left-top__box__menu
          %li.left-top__box__menu__new-group
            %a{href: "/groups/new"}
              %i.fa.fa-edit
          %li.left-top__box__menu__edit-user
            %a{href: "/users/1392/edit"}
              %i.fa.fa-cog 
    .left-bottoms
      -# = render "message"
      -# = render "message"
      -# = render "message"
      -# = render "message"
      -# = render "message"
      -# = render "message"
      -# = render "message"
      -# = render "message"
      -# = render "message"
      -# = render "message"
      -# = render "message"
      -# = render "message"
  .right-contents
    .right-top
      .right-top__box
        %h2.box-group
          GROOP_NAME
        %ul.member-list
          MEMBERNAME
          %li.member-list__member
            白髪
      %a{href: "/groups/3067/edit"}
        .right-top__edit-btn
          Edit
    .right-center
      = render @messages

    .right-form
      .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'